<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Webook</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<style>
		body,h1 {font-family: "Raleway", sans-serif}
		body, html {height: 100%}
		.bgimg {
		  background-color: #333;
		  min-height: 100%;
		  background-position: center;
		  background-size: cover;
		}
		h1{
			color: #05a7f6;
		}
		p{
			color: #05a7f6;
		}
	</style>
</head>
<body>
	<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  	<div class="w3-display-middle">
	    <h1 class="w3-jumbo w3-animate-top">Webook</h1>
	    <hr class="w3-border-grey" style="margin:auto;width:40%">
	    <p class="w3-large w3-center"><a href="webook/login">Reserve sua sala agora!</p>	   
  	</div>
</body>
</html>